.App {
  /* padding:3%; */
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
@media(max-width:980px) {
  .upperOptions{
    display: none;
    /* bottom: 0;   */
  }
  /* .homeandOverview{
     margin-top: 6rem;
  } */
    /* padding-top: 4%;;
    background-color: #afb8bd;
    border: 1px solid black;
    height: 100%; */
    
  /* } */
}
.headerCom{
  border: 1px solid black;
  height: 10rem;
  padding: 4%;
  /* position:sticky; */
  /* position: fixed; */
  background-image: linear-gradient(#ffffff,#ffffff,#e6e6e6,#e6e6e6);
  background-color: rgb(219, 214, 214);
}
.upperOptions{
  position:absolute;
  right: 4%;
  top:2.2rem;
  margin-bottom: 2rem;;
}
/* .footerCom{
    border: 1px solid black;
    height: 10rem;
    padding: 4%;
    padding-bottom: 0;
    background-color: rgb(228, 220, 220);
} */
.contentCom{
  padding: 4%;
  padding-top: 4%;;
  background-color: #afb8bd;
  border: 1px solid black;
  height: 100%;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
