
@media(min-width:980px){
    .contents{
        height: 100%;
        background-color: white;
        padding:1%;
        padding-bottom: 2rem;
        /* background-color: rgb(141, 141, 196); */
    }
    .pressReleases{
        width: 80%;
    }
    .desBlock-2{
        width: 30%;
        height: 100%;
    }
    .insideBlock-1{
        width:47%;
    }
    .insideBlock-2{
        width:47%;
        margin-left: 6%;
    }
    .insideContents{
        display: flex;
        position: relative;
        top: 0;
    }
    .insidedesBlock-1{
        display: flex;;
    }
    .desBlock-1{
        width:70%;
    }
    .Oimage{
        height:12rem;
        width: 100%;
        display: flex;
        padding-top: 4rem;
        padding-left: 2rem;
    }
    .OverView{
        height: 4rem;
        border: none;
        line-height: 4rem;
        text-align: center;
        background-color: purple;
        width: 250px;
        color: white;
        font-size: 35px;
        opacity: 0.8;
        /* background-color: rgba(1, 48, 255, 0.952); */
    }
    .description{
        background-color: black;
        color: white;
        height: 4rem;
        width: 40rem;
        margin-left: 0.5rem;
        opacity: 0.6;
        font-size: 20px;
        padding-left:2%
    }
}
@media(max-width:980px){
    .contents{
        height: 100%;
        background-color: white;
        padding:4%;
        margin-top: 2rem;
        padding-bottom: 2rem;
        /* background-color: rgb(141, 141, 196); */
    }
    .desBlock-2{
        width: 100%;
        height: 100%;
    }
    .insidedesBlock-1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .insideBlock-1{
        width:100%;
    }
    .insideBlock-2{
        width:100%;
        margin-left: 6%;
    }
    .Oimage{
        height:12rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 2rem;
    }
    .OverView{
        height: 3rem;
        border: none;
        line-height: 3rem;
        text-align: center;
        background-color: purple;
        width: 100px;
        color: white;
        font-size: 15px;
        /* opacity: 0.8; */
    }
    .description{
        /* display: "none"; */
        background-color: black;
        color: white;
        height: 60%;
        width:80%;
        margin-top: 1rem;
        margin-bottom: 3rem;
        /* opacity: 0.6; */
        font-size: 15px;
        padding-left:3%;
        padding-right:3%;
    }
}

.productPhoto{
    border: 2px solid rgb(143, 13, 148);
    height: 8rem;
    text-align: center;
    width: 8rem;
    padding-top: 2.6rem;
}
.Parthers{
    height: 6rem;
   line-height: 6rem;
   text-align: center;
    width: 15rem;
    border: 1px solid black;
}



/* li span {
    position: relative;
    left: -10px;
  } */



